# pyc files
*.pyc
__pycache__/

# build/distribution/packaging-related files
# see: https://stackoverflow.com/questions/3719243/best-practices-for-adding-gitignore-file-for-python-projects
build/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
.installed.cfg

# IntelliJ files
.idea
mdfts.iml

# custom files
_t* 
